<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FC - Панель администратора</title>
    <link rel="icon" href="image/ico.ico" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css"> <!-- Подключение CSS файла -->
    {% block style %} <!--ЗДЕСЬ ПОДКЛЮЧАЮТСЯ СТИЛИ CSS -->{% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header class="header text-white">
    <div class="container d-flex justify-content-between align-items-center mt-5">
        <div class="logo">
            <a href="/admin">
                <img src="image/image_main/logo.png" alt="Логотип">
            </a>
        </div>
        <div class="contact-info">
            <div>
                <a href="tel:+{{ phone_main }}" class="telegram-icon" title="Телефон">
                    <i class="fas fa-phone"></i>
                </a>
                <span>{{ phone.data }}</span>
            </div>
            <div>
                <a href="mailto:{{ email.data }}" class="telegram-icon" title="Email">
                    <i class="fas fa-envelope"></i>
                </a>
                <span>{{ email.data }}</span>
            </div>
            <div>
                <a href="{{ telegram.data }}" class="telegram-icon" target="_blank" title="Telegram">
                    <i class="fab fa-telegram-plane"></i>
                </a>
                <span>Наши новости!</span>
            </div>
            <form action="/logout" method="get">
                <button type="submit" style="font-size: 20px; background-color: red; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">
                    Выйти
                </button>
            </form>
        </div>
    </div>
</header>

<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/admin">Главная</a></li>

                <li class="nav-item"><a class="nav-link" href="/admin_prices_facade">Цены фасада</a></li>

                <li class="nav-item"><a class="nav-link" href="/admin_prices_roof">Цены кровли</a></li>

                <li class="nav-item"><a class="nav-link" href="/admin_portfolio_facade">Кейсы фасада</a></li>

                <li class="nav-item"><a class="nav-link" href="/admin_portfolio_roof">Кейсы кровли</a></li>
            </ul>
        </div>
    </div>
</nav>

        {% block content %}
        <!-- ЗДСЕСЬ ОСНОВНОЙ КОНТЕНТ -->
        {% endblock %}




   <!-- Добавляем секцию с логотипами -->
<div class="brand-logos">
    <h6>Мы используем материалы лучших брендов:</h6>
    <div class="logo-container">
        <a href="https://ceresit.ru/" target="_blank">
            <img src="image/brands/brand1.webp" alt="ceresit" class="brand-logo">
        </a>
        <a href="https://www.tn.ru/" target="_blank">
            <img src="image/brands/brand2.jpg" alt="tehno" class="brand-logo">
        </a>
        <a href="https://knauf.ru/" target="_blank">
            <img src="image/brands/brand3.jpg" alt="knauf" class="brand-logo">
        </a>
        <a href="https://www.braas.ru/" target="_blank">
            <img src="image/brands/brand4.jpg" alt="braas" class="brand-logo">
        </a>
        <a href="https://www.docke.ru/" target="_blank">
            <img src="image/brands/brand5.webp" alt="docke" class="brand-logo">
        </a>
        <a href="https://baumitshop.ru/" target="_blank">
            <img src="image/brands/brand6.webp" alt="baumit" class="brand-logo">
        </a>
     </div>
</div>


<div class="social-buttons">
    <a href="{{ link_bot.data }}" class="social-button telegram" target="_blank" title="Telegram">
        <i class="fab fa-telegram-plane"></i>
    </a>
    <a href="viber://add?number=+{{ phone_main }}" class="social-button viber" target="_blank" title="Viber">
        <i class="fab fa-viber"></i>
    </a>
    <a href="https://wa.me/+{{ phone_main }}" class="social-button whatsapp" target="_blank" title="WhatsApp">
        <i class="fab fa-whatsapp"></i>
    </a>
</div>



<footer class="footer">
    <div class="footer-container">
        <div class="logo">
            <a href="/">
                <img src="image/image_main/logo.png" alt="Логотип" style="height: 80px;">
            </a>
        </div>
        <div class="footer-links">
                <a href="/admin_orders" class="footer-link">Заявки </a>
                <a href="/admin_prices_facade" class="footer-link">Упр. ценами фасад</a>
                <a href="/admin_prices_roof" class="footer-link">Упр. ценами кровли</a>
                <a href="/admin_portfolio_facade" class="footer-link">Упр. портфолио фасада</a>
                <a href="/admin_portfolio_roof" class="footer-link">Упр. портфолио кровли</a>
            </div>
        <div class="contact-info">
            <div>
                <a href="tel:+{{ phone_main }}" class="footer-icon" title="Телефон">
                    <i class="fas fa-phone"></i>
                </a>
                <span>{{ phone.data }}</span>
            </div>
            <div>
                <a href="mailto:{{ email.data }}" class="footer-icon" title="Email">
                    <i class="fas fa-envelope"></i>
                </a>
                <span>{{ email.data }}</span>
            </div>
            <div>
                <a href="{{ telegram.data }}" class="telegram-icon" target="_blank" title="Telegram">
                                <i class="fab fa-telegram-plane"></i>
                </a>
                <span>Наши новости!</span>
            </div>
            <div>
                <span>Адрес:Красногорский р-н, Ильинско-Усово, ул. Архангельская 6</span>
            </div>
        </div>
    </div>
    <h6 style="text-align: center; margin-top: 20px;">&copy; 2025 Facade Continent. Все права защищены.</h6>
     <h6 style="text-align: center;">Разработано <a href="https://t.me/xash1rama" target="_blank">xash1rama</a></h6>
</footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block scripts %}

    {% endblock %}
</body>
</html>
