.button-image {
    width: 400px; /* Установите желаемую ширину */
    height: 100px; /* Установите желаемую высоту */
    object-fit: cover; /* Обеспечивает обрезку изображения по размеру */
}

.form-control {
    width: 100%; /* Поле будет занимать всю ширину родительского элемента */
    color: white; /* Цвет текста белый */
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон для лучшего контраста */
    border: 1px solid #444; /* Темная граница для поля ввода */
    border-radius: 5px; /* Закругленные углы */
    padding: 5px; /* Отступ внутри поля ввода */
}

.form-control::placeholder {
    color: white; /* Цвет текста плейсхолдера белый */
    opacity: 0.7; /* Полупрозрачность плейсхолдера */
}