{% extends "base.html" %}





{% block title %}
Facade Continent - О нас
{% endblock %}





{% block style %}
    <link rel="stylesheet" href="css/styles_about.css">
    <link rel="stylesheet" href="css/styles_index.css">
{% endblock %}





{% block content %}
<div class="main-image">
        <img src="image/image_main/logo.png" alt="Описание изображения" class="main-image">
</div>

<section id="main" class="text-center background-image">
        <div class="text-column2">
            <h1 class="info-text large-text">Строительная компания Facade Continent: Более 18 лет на рынке!</h1>
            <h6>Facade Continent – строительную компанию, которая с 2005 года занимается созданием загородных домов и
                превращением мечт в реальность. За это время мы не просто стали частью строительной отрасли,
                но и приобрели множество довольных клиентов, которые доверили нам постройку своего идеального жилища.</h6>
            <h6>Мы понимаем, что фасад и кровля – это не только защитные элементы вашего дома, но и важные части его стиля и индивидуальности.
                Наша команда экспертов тщательно подходит к каждому проекту, предложив решения, которые сочетает в себе качество, эстетичность
                и долговечность.
                Все наши работы выполняются с использованием только лучших материалов, что гарантирует вам надежность и красоту на долгие годы.</h6>
            <h6>Каждый клиент для нас важен, и мы с радостью слушаем ваши идеи и пожелания, чтобы вместе создать тот самый идеальный дом, о котором вы мечтаете. Благодаря большому опыту и высокому уровню профессионализма,
                мы справляемся даже с самыми сложными задачами,
                обеспечивая вам максимальный комфорт и удовлетворение от результата.</h6>
            <h6>Присоединяйтесь к сотням довольных клиентов, которые вовсе не просто получили крышу над головой, а дом,
                в который всегда приятно возвращаться. Давайте создавать ваш идеальный загородный дом вместе! </h6>
        </div>
</section>



<section id="main" class="text-center d-flex justify-content-between align-items-center background-image">
        <div class="text-column">
            <h1 class="info-text large-text">Facade Continent: Доверие через качество – наше портфолио и отзывы клиентов!</h1>
            <h6>Ничто не говорит о качестве нашей работы лучше, чем реальные примеры завершённых проектов.
                В нашем портфолио вы найдете множество уникальных решений, которые мы реализовали для наших клиентов.
                Каждый проект – это история о нашем внимании к деталям и стремлению достичь совершенства.
                Мы гордимся каждым домом, который построили, и нам приятно делиться этими достижениями с вами!</h6>
            <h6>Но не только наши работы говорят о нас: отзывы наших клиентов – это лучший индикатор нашей надёжности.
                Мы слушаем и ценим каждое мнение, и справедливо заявляем, что довольные клиенты – это наша главная награда.
                Их положительные слова о нашем подходе, качестве и сроках выполнения работ подтверждают,
                что Facade Continent – это не просто строительная компания, а ваш надежный партнер в создании идеального дома.</h6>
            <h1>Портфолио:</h1>
            <div class="divider"></div> <!-- Полоска разделения -->

            <a href="/portfolio_facade" class="slide-button">Фасад</a>  <a href="/portfolio_roof" class="slide-button">Кровля</a>

        </div>

        <div class="image-column">
            <img src="image/image_about/about1.jpg" alt="Описание изображения" class="main-image">
        </div>
</section>


<section id="main" class="text-center d-flex justify-content-between align-items-center background-image">
        <div class="image-column">
            <img src="image/image_about/about2.png" alt="Описание изображения" class="main-image">
        </div>
        <div class="text-column">
            <h1 class="info-text large-text">| МОСКВА | МО |</h1>
            <h6>Наше главное преимущество – это месторасположение. Мы работаем в Москве и Московской области,
                что дает нам возможность быстро реагировать
                на ваши запросы и осуществлять проекты в удобные для вас сроки. Будь то уютный загородный
                дом или современная дача, мы готовы предложить вам качественные решения с учетом всех нюансов
                и особенностей вашего участка.</h6>
            <h6>Мы гордимся каждым проектом и стремимся максимально удовлетворить ваши ожидания. Наши довольные
                клиенты стали для нас настоящей визитной карточкой, ведь нет ничего лучше, чем доверие и признание
                тех, кто уже воспользовался нашими услугами.</h6>
        <div class="divider"></div> <!-- Полоска разделения -->

            <a href="/contacts" class="slide-button">Связаться с нами</a>
        </div>

</section>

    <div class="slider1">
        <div class="slide1"><img src="image/slide_houses/slide1.jpg" alt="Дом 1"></div>
        <div class="slide1"><img src="image/slide_houses/slide2.jpg" alt="Дом 2"></div>
        <div class="slide1"><img src="image/slide_houses/slide3.jpg" alt="Дом 3"></div>
        <div class="slide1"><img src="image/slide_houses/slide4.jpg" alt="Дом 4"></div>
        <div class="slide1"><img src="image/slide_houses/slide5.jpg" alt="Дом 5"></div>
        <div class="slide1"><img src="image/slide_houses/slide1.jpg" alt="Дом 1"></div>
        <div class="slide1"><img src="image/slide_houses/slide2.jpg" alt="Дом 2"></div>
        <div class="slide1"><img src="image/slide_houses/slide3.jpg" alt="Дом 3"></div>
        <div class="slide1"><img src="image/slide_houses/slide5.jpg" alt="Дом 5"></div>
        <div class="slide1"><img src="image/slide_houses/slide1.jpg" alt="Дом 1"></div>
        <div class="slide1"><img src="image/slide_houses/slide2.jpg" alt="Дом 2"></div>
        <div class="slide1"><img src="image/slide_houses/slide3.jpg" alt="Дом 3"></div>

        <!-- Добавьте больше слайдов по необходимости -->
    </div>
{% endblock %}





{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="scripts/script_about.js"></script>
{% endblock %}

